<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SKT FLY AI 방명록</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>
    SKT FLY AI 교육생 방명록
    <a href="/new-entry" class="btn btn-primary pull-right">
      후기 남기기
    </a>
  </h1>
